<div class="row">
  <div class="col s3"></div>
    <div ng-cloak style="align-content: center" class="col s6">
        <table class="center stripe">
        <thead>
        <tr>
            <th></th>
            <th>GroupChat</th>
            <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in groupCtrl.groupchats">
                <td>
                    <a class="waves-effect  teal darken-1 btn-small" ng-click="groupCtrl.entergroup(group.groupname)">Enter</a>
                </td>
                <td>{{group.groupname}}</td>
                <td>{{group.date}}</td>
            </tr>
        </tbody>
        </table>
        <div class="col s3"></div>
</div>
</div>
